<div class="main-website-top-area headroom headroom--not-bottom headroom--pinned headroom--top" id="main-website-top-area">
    <section class="main-topper-wrapper" id="main-topper-wrapper">
        <ul class="topper-action">
            <li class="topper-action_item topper-action_left"><a href="tel:{{fon}} "><span class="ico"><i class="fal fa-phone"></i></span> <span class="txt">{{fon}}</span></a></li>
            <li class="topper-action_item topper-action_left"><a href="mailto:{{email}} "><span class="ico"><i class="fal fa-envelope"></i></span> <span class="txt">{{email}}</span></a></li>
            <li class="topper-action_item topper-action_left-spacer"></li>
            <!-- Home Icon -->
            <li class="topper-action_item topper-action_right topper-action_item-impr">
                <a href="/">
                    <span class="tn-bt-ico">
                        <i class="fal fa-home"></i>
                    </span>
                </a>
            </li>
            <!-- Configurator Icon -->
            <li class="topper-action_item topper-action_right topper-action_item-impr">
                <a href="/konfigurator"  onclick="openProfile()">
                    <span class="tn-bt-ico">
                        <i class="fal fa-plug"></i>
                    </span>
                </a>
            </li>
            <!-- User Icon -->
            <li class="topper-action_item topper-action_right topper-action_item-impr">
                <a href="/profil"  onclick="openProfile()">
                    <span class="tn-bt-ico">
                        <i class="fal fa-user"></i>
                    </span>
                </a>
            </li>
            <!-- Cart Icon -->
            <li class="topper-action_item topper-action_right topper-action_item-impr">
                <a href="/warenkorb"  onclick="openCart()">
                    <span class="tn-bt-ico">
                        <i class="fal fa-shopping-cart"></i>
                        <span class='badge badge-warning' id='lblCartCount'>{{in_cart_items|length}}</span>
                    </span>
                </a>
            </li>
            <!-- Login/Logout Text -->
            <li class="topper-action_item topper-action_right" id="loginLogout">
                {% if user.is_authenticated %}
                    <a href="/accounts/logout">
                        <span id="logoutText">Ausloggen</span>
                    </a>
                {% else %}
                    <a href="/accounts/login" onclick="toggleLogin()">
                        <span id="loginText">Einloggen</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </section>
    
    <section id="main-header-wrapper" class="main-header-wrapper">
        <div class="main-header-content-wrapper con-width" id="main-header-content-wrapper">
            <div class="tn-bt-ico">
                <!-- Burger Icon -->
                <a href="#"  onclick="openPopupMenu()">
                    <span class="tn-bt-ico-open" style="font-size: 30px; color:black">
                        <i class="fal fa-bars"></i>
                    </span>
                </a>
            </div>
            <div id="logo" class="logo">
                <a href="/">
                    <img src="/media/General/logo.png" alt="Logo: kj" class="logo-svg">
                </a>
            </div>
        </div>
        <!-- Progressbar Indicator -->
        <!-- <div class="space space-2"></div> -->
    </section>
</div>
<div class="main-website-top-area-pusher" id="main-website-top-area-pusher" style="height: 246.047px;"></div>
