<div class="main-website-top-area headroom headroom--not-bottom headroom--pinned headroom--top" id="main-website-top-area">
    <section class="main-topper-wrapper" id="main-topper-wrapper">
        <ul class="topper-action">
            <li class="topper-action_item topper-action_left"><a href="tel:+49294128070 "><span class="ico"><i class="fal fa-phone"></i></span> <span class="txt">+49 2941 2807-0</span></a></li>
            <li class="topper-action_item topper-action_left"><a href="mailto:info@juergenhake.de "><span class="ico"><i class="fal fa-envelope"></i></span> <span class="txt">info@juergenhake.de </span></a></li>
            <li class="topper-action_item topper-action_left-spacer"></li>
            <!-- Add the icons here -->
            <li class="topper-action_item topper-action_right topper-action_item-impr">
                <a href="/profile"  onclick="openProfile()">
                    <span class="tn-bt-ico">
                        <i class="fal fa-user"></i>
                    </span>
                </a>
            </li>
            <!-- Cart Icon -->
            <li class="topper-action_item topper-action_right topper-action_item-impr">
                <a href="/purchase"  onclick="openCart()">
                    <span class="tn-bt-ico">
                        <i class="fal fa-shopping-cart"></i>
                        <span class='badge badge-warning' id='lblCartCount'>{{in_cart_items|length}}</span>
                    </span>
                </a>
            </li>
            <!-- Burger Icon -->
            <li class="topper-action_item topper-action_right">
                <a href="#"  onclick="openPopupMenu()">
                    <span class="tn-bt-ico">
                        <i class="fal fa-bars"></i>
                    </span>
                </a>
            </li>
        </ul>
    </section>
    
    <section id="main-header-wrapper" class="main-header-wrapper">
        <div class="main-header-content-wrapper con-width" id="main-header-content-wrapper">
            <div id="stepper-wrapper" class="stepper-wrapper">
                <div class="stepper-item" data-counter="1">
                    <div class="step-counter">1</div>
                    <div class="step-name">Akkuvariante</div>
                </div>
                <div class="stepper-item" data-counter="2">
                    <div class="step-counter">2</div>
                    <div class="step-name">Kabelvariante</div>
                </div>
                <div class="stepper-item" data-counter="3">
                    <div class="step-counter">3</div>
                    <div class="step-name">Schnittstelle</div>
                </div>
                <div class="stepper-item" data-counter="4">
                    <div class="step-counter">4</div>
                    <div class="step-name">Maße</div>
                </div>
            </div>
            <div id="logo" class="logo">
                <a href="/">
                    <img src="/static/images/logo.svg" alt="Logo: Jürgenhake" class="logo-svg">
                </a>
            </div>
        </div>
        <!-- Progressbar Indicator -->
        <!-- <div class="space space-2"></div> -->
    </section>
</div>
<div class="main-website-top-area-pusher" id="main-website-top-area-pusher" style="height: 246.047px;"></div>
