<div id="popup-menu-wrapper" class="side-nav-modal" style="text-align: left; font-weight: bold; display: none;">
    <div class="modal-header content anlauf_text">
        <span></span>
        <span class="close-button" onclick="closePopupMenu()">&#10006;</span>
    </div>
    <div class="space space-2"></div>
    <div class="popup-content">
        <ul class="popup-menu-list">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                <a href="/">Dashboard</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                <a href="/konfigurator/">Konfigurator</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                <a href="/profil/">Profil</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                <a href="/warenkorb/">Warenkorb</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                <a href="/orders/">Bestellen</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                <a href="/accounts/login/">Anmeldung</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                <a href="/accounts/register/">Registrieren</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                <a href="/accounts/logout/">Ausloggen</a>
            </li>
        </ul>        
    </div>
</div>
