<div id="popup-menu-wrapper" class="popup-menu-wrapper">
    <div id="popup-menu" class="popup-menu">
        <button class="popup-close-button" onclick="closePopupMenu()">&times;</button>
        <div class="popup-menu-content">
            <ul class="popup-menu-list">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                    <a href="/">Dashboard</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                    <a href="/profile/">Profile</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                    <a href="/purchase/">Purchase</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                    <a href="/login/">Login</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                    <a href="/register/">Register</a>
                </li>
            </ul>
        </div>
    </div>
</div>
