<div id="popup-menu-wrapper" class="side-nav-modal" style="text-align: left; font-weight: bold; display: none;">
    <div class="modal-header content anlauf_text">
        <span></span>
        <span class="close-button" onclick="closePopupMenu()">&#10006;</span>
    </div>
    <div class="space space-2"></div>
    <div class="popup-content">
        <ul class="popup-menu-list">
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                <a href="/">Dashboard</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                <a href="/konfigurator/">Konfigurator</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                <a href="/profil/">Profil</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                <a href="/warenkorb/">Warenkorb</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                <a href="/orders/">Bestellen</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                <a href="/login/">Anmeldung</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                <a href="/register/">Registrieren</a>
            </li>
        </ul>        
    </div>
    
    <!-- <div id="popup-menu" class="popup-menu">
        <button class="popup-close-button" onclick="closePopupMenu()">&times;</button>
        <div class="popup-menu-content">
            <ul class="popup-menu-list">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
                    <a href="/">Dashboard</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                    <a href="/konfigurator/">konfigurator</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                    <a href="/profile/">Profile</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                    <a href="/warenkorb/">warenkorb</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                    <a href="/login/">Login</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                    <a href="/register/">Register</a>
                </li>
            </ul>
        </div>
    </div> -->
</div>
