{% extends 'layouts/base.html' %}

{% load custom_filters %}

{% block content %}
    {% with in_cart_items=in_cart_items %}
    {{block.super}}
    {% endwith %}
    
    <div class="cable-config-container">
        <div id="left-column">
            <!-- Akkuvariante Selector -->
            <div id="Akkuvariante-Section">
                <!-- <div class="space space-2"></div> -->
                <section class="layoutblock lb-10col-width lb-hinweisausgabe">
                    <div class="content anlauf_text">
                        <p style="text-align: center;">
                            Akkuvariante
                        </p>
                    </div>
                </section>
                <div class="space space-2"></div>
                <div class="akkuvariante-selectors-container">
                    {% for akkuvariante in akkuvarianten %}
                        <div class="akkuvariante-selector" onclick="selectAkkuvariante('{{ akkuvariante.akkuvariante_name }}')">
                            <label>{{ akkuvariante.akkuvariante_name }}</label>
                            <img src="{% get_media_prefix %}{{ akkuvariante.akkuvariante_image_path }}" alt="{{ akkuvariante.akkuvariante_name }}">
                        </div>
                    {% empty %}
                        <p>Keine Akkuvarianten verfügbar.</p>
                    {% endfor %}
                    <div class="space space-2"></div>
                    <p>Mit 120 Ohm CAN-Bus Widerstand?</p>
                    <div>
                        <label for="ja-nein-option-ja">Ja</label>
                        <input type="radio" id="ja-nein-option-ja" name="ja-nein-option" value="ja">
                        <label for="ja-nein-option-nein">Nein</label>
                        <input type="radio" id="ja-nein-option-nein" name="ja-nein-option" value="nein" checked>
                    </div>            
                </div>
                <div class="space space-2"></div>
                <div style="text-align: center;">
                    <button class="btn btn-outline-info" onclick="goToSection('Kabelvariante-Section')">Nächste</button>
                </div>
            </div>

            <!-- Kabelvariante Selector -->
            <div id="Kabelvariante-Section">
                <!-- <div class="space space-2"></div> -->
                <section class="layoutblock lb-10col-width lb-hinweisausgabe">
                    <div class="content anlauf_text">
                        <p style="text-align: center;">
                            Kabelvariante
                        </p>
                    </div>
                </section>
                <div class="space space-2"></div>
                <div class="kabelvariante-selectors-container">
                </div>
                <div class="space space-2"></div>
                <div style="text-align: center;">
                    <button class="btn btn-outline-info-secondary" onclick="goToSection('Akkuvariante-Section')">Zuruck</button>
                    <button class="btn btn-outline-info" onclick="goToSection('Schnittstellen-Section')">Nächste</button>
                </div>
            </div>

            <!-- Schnittstellen Selector -->
            <div id="Schnittstellen-Section">
                <!-- <div class="space space-2"></div> -->
                <section class="layoutblock lb-10col-width lb-hinweisausgabe">
                    <div class="content anlauf_text">
                        <p style="text-align: center;">
                            Schnittstellen
                        </p>
                    </div>
                </section>
                <div class="space space-2"></div>
                <div id="schnittstelle-slider-container">
                </div>
                <div class="space space-2"></div>
                <div style="text-align: center;">
                    <p id="Schnittstellen-text" style="text-align: center;"></p>
                    <button class="btn btn-outline-info-secondary" onclick="goToSection('Kabelvariante-Section')">Zuruck</button>
                    <button class="btn btn-outline-info" onclick="goToSection('Masse-Section')">Nächste</button>
                </div>
            </div>

            <!-- Maße Slider Container -->
            <div id="Masse-Section">
                <!-- <div class="space space-2"></div> -->
                <section class="layoutblock lb-10col-width lb-hinweisausgabe">
                    <div class="content anlauf_text">
                        <p style="text-align: center;">
                            Maße
                        </p>
                    </div>
                </section>
                <div class="space space-2"></div>
                <div id="masse-slider-container">
                </div>
                <div class="space space-2"></div>
                <div style="text-align: center;">
                    <p id="Masse-text" style="text-align: center;"></p>
                    <button class="btn btn-outline-info-secondary" onclick="goToSection('Schnittstellen-Section')">Zuruck</button>
                    <button class="btn btn-outline-info" onclick="goToSection('Zusammenfassung-Section')">Nächste</button>
                </div>
            </div>
                
            <!-- Zusammenfassung Container -->
            <div id="Zusammenfassung-Section">
                <!-- <div class="space space-2"></div> -->
                <section class="layoutblock lb-10col-width lb-hinweisausgabe">
                    <div class="content anlauf_text">
                        <p style="text-align: center;">
                            Zusammenfassung
                        </p>
                    </div>
                </section>
                <div class="space space-2"></div>
                <div id="summary-container">
                    <label id="akkuvariante-summary">Akkuvariante: </label>
                    <label id="CAN-Bus-summary">Mit 120 Ohm CAN-Bus Widerstand?: </label>
                    <label id="kabelvariante-summary">Kabelvariante: </label>
                    <label id="schnittstelle-summary">Schnittstelle: </label>
                    <label id="masse-summary">Maße: </label>
                    <label id="gesamtpreis-summary">Gesamtpreis: </label>
                </div>
                <div class="space space-2"></div>
                <div style="text-align: center;">
                    <button class="btn btn-outline-info-secondary" onclick="goToSection('Masse-Section')">Zuruck</button>
                    <button class="btn btn-outline-info" onclick="addToCart()">Add to Cart</button>
                </div>
            </div>
        </div>

        <div id="stepper-toggle" class="stepper-toggle">
            <div class="openbtn" onclick="toggleStepperWrapper()">&#171;</div>
            <div id="stepper-wrapper" class="stepper-wrapper">
                <div class="stepper-item" data-counter="1">
                    <div class="step-counter">1</div>
                    <div class="step-name">Akkuvariante</div>
                </div>
                <div class="stepper-item" data-counter="2">
                    <div class="step-counter">2</div>
                    <div class="step-name">Kabelvariante</div>
                </div>
                <div class="stepper-item" data-counter="3">
                    <div class="step-counter">3</div>
                    <div class="step-name">Schnittstelle</div>
                </div>
                <div class="stepper-item" data-counter="4">
                    <div class="step-counter">4</div>
                    <div class="step-name">Maße</div>
                </div>
            </div>
        </div>        
        
    </div>

    <!-- Modal content -->
    <div id="customModal" class="modal" style="text-align: center; font-weight: bold;">
        <div class="modal-header content anlauf_text">
            <span>Der Eintrag wurde erfolgreich hinzugefügt.</span>
            <span class="close-button" onclick="closeModal()">&#10006;</span> <!-- X symbol -->
        </div>
        <div class="space space-2"></div>
        <p>Was möchten Sie als Nächstes tun?</p>
        <br />
        <button class="btn btn-outline-info" id="configureButton">Konfigurieren Sie ein anderes Kabel</button>
        <button class="btn btn-outline-info" id="viewInCartButton">Artikel im Warenkorb anzeigen</button>
    </div>

    <!-- Overlay -->
    <div id="overlay" class="overlay"></div>

    <script>
        var akkuSelected = false;
        var kabelSelected = false;
        var schnittstellenSelected = false;
        var masseSelected = false;
        var selected_akkuvariante_name = "";
        var selected_kabel_name = "";
        var selected_schnittstellen_name = "";
        var selected_masse_name = "";
        var kabelvarianten = JSON.parse('{{ kabelvarianten | safe | escapejs }}');
        var schnittstellenOptions = JSON.parse('{{ schnittstellen | safe | escapejs }}');
        var preisliste = JSON.parse('{{ preisliste | safe }}');
        var mediaPrefix = "{% get_media_prefix %}";
        var masseTextElement = document.getElementById("Masse-text");
        masseTextElement.textContent = "Alles gut, klicken Sie auf Weiter";
        masseTextElement.style.color = "green";
        var schnittstelleTextElement = document.getElementById("Schnittstellen-text");
        schnittstelleTextElement.textContent = "Bitte wählen Sie alle Schnittstellen aus";
        schnittstelleTextElement.style.color = "red";
        var modal = document.getElementById('customModal');
        var overlay = document.getElementById('overlay');
        var configureButton = document.getElementById('configureButton');
        var viewInCartButton = document.getElementById('viewInCartButton');
        var jaRadioButton = document.getElementById("ja-nein-option-ja");
        var neinRadioButton = document.getElementById("ja-nein-option-nein");
        var CAN_Bus = 'Nein';

        jaRadioButton.addEventListener("change", updateSummary);
        neinRadioButton.addEventListener("change", updateSummary);
        
        goToSection('Akkuvariante-Section')
        updateProgressBar();
        
        // Close the modal when clicking outside the modal content or on the close button
        overlay.onclick = closeModal;

        function selectAkkuvariante(productName) {
            var productSelectors = document.querySelectorAll('.akkuvariante-selector');

            productSelectors.forEach(function(selector) {
                var label = selector.querySelector('label');
                selector.classList.remove('selected');
                var label = selector.querySelector('label');
                if (label.textContent.trim() === productName) {
                    selector.classList.add('selected');
                }
            });

            if (selected_akkuvariante_name != productName) {
                akkuSelected = true;
                selected_akkuvariante_name = productName;
                goToSection('Akkuvariante-Section');
                kabelSelected = false;
                populateKabelvariantenSelectors(kabelvarianten); 
                updateSummary();
                updateProgressBar();
            }
        }

        function selectKabelvariante(productName) {
            var productSelectors = document.querySelectorAll('.kabelvariante-selector');

            productSelectors.forEach(function(selector) {
                selector.classList.remove('selected');
                var label = selector.querySelector('label');
                if (label.textContent.trim() === productName) {
                    selector.classList.add('selected');
                }
            });

            if (selected_kabel_name != productName) {
                var filteredKabelvarianten = [];
                for (let i = 0; i < kabelvarianten.length; i++) {
                    if (kabelvarianten[i]["kabelvariante_name"] === productName) {
                        if (!filteredKabelvarianten.includes(kabelvarianten[i])) {
                            filteredKabelvarianten.push(kabelvarianten[i]);
                        }
                    }
                }
                filteredKabelvarianten.forEach(populateSchnittstellenSelectors);
                kabelSelected = true;
                selected_kabel_name = productName;
                schnittstellenSelected = false;
                goToSection('Kabelvariante-Section');
                removeAllSelectedSchnittstellen();
                var container = document.getElementById('masse-slider-container');
                container.innerHTML = '';
                var sliderContainer = document.createElement('div');
                sliderContainer.className = 'masse-slider-container-class';
                var kabelvariante =filteredKabelvarianten[0];
                sliderContainer.id = kabelvariante.kabelvariante_name + '-masse-slider';
                schnittstelleTextElement.textContent = "Bitte wählen Sie alle Schnittstellen aus";
                schnittstelleTextElement.style.color = "red";
                masseTextElement.textContent = "Ungültige Eingabewerte";
                masseTextElement.style.color = "red";
                container.appendChild(sliderContainer);
                var img = document.createElement('img');
                img.className = 'masse-image';
                img.src = mediaPrefix + kabelvariante.masse_image_path;
                sliderContainer.appendChild(img);
                masseSelected = false;
                updateSummary();
                updateProgressBar();
            }
        }

        function masse(productName){
            // Hide all sliders initially
            var sliders = document.querySelectorAll('.masse-slider-container-class');
            sliders.forEach(function(slider) {
                slider.classList.add('hidden');
            });

            // Show the selected slider based on cable type
            var selectedSliderId = productName.toLowerCase() + '-messe-slider';
            var selectedSlider = document.getElementById(selectedSliderId);
            if (selectedSlider) {
                selectedSlider.classList.remove('hidden');
            } else {
                console.log('Kein passender Slider für gefunden:', productName);
            }
        }

        function selectschnittstellenvariante(productName, splitIndex) {
            var splitIndex = parseInt(splitIndex.split('-S')[1]);
            var productSelectors = document.querySelectorAll('.schnittstelle-selector');

            productSelectors.forEach(function(selector) {
                for (var i = 0; i <= splitIndex; i++) {
                    var label = selector.querySelector('label');
                    var selectorSplitIndex = selector.getAttribute('data-split-index');
                    if (label.textContent.trim() === productName && selectorSplitIndex === 'S' + splitIndex) {
                        selector.classList.add('selected');
                    }
                    if (label.textContent.trim() !== productName && selectorSplitIndex === 'S' + splitIndex) {
                        selector.classList.remove('selected');
                    }
                }
            });

            schnittstellenSelected = true;
            var filteredKabelvarianten = [];

            for (let i = 0; i < kabelvarianten.length; i++) {
                if (kabelvarianten[i]["kabelvariante_name"] === selected_kabel_name) {
                    if (!filteredKabelvarianten.includes(kabelvarianten[i])) {
                        filteredKabelvarianten.push(kabelvarianten[i]);
                    }
                }
            }
            
            filteredKabelvarianten.forEach(populateMasseSelectors);
            masseSelected = false;
            goToSection('Schnittstellen-Section');
            updateSummary();
            updateProgressBar();
        }

        function removeAllSelectedSchnittstellen() {
            var selectors = document.querySelectorAll('.schnittstelle-selector');
            selectors.forEach(function (selector) {
                selector.classList.remove('selected');
            });
        }
        
        function removeAllMasseInputPairs() {
            var selectors = document.querySelectorAll('.input-pair');
            selectors.forEach(function (selector) {
                selector.classList.remove('selected');
            });
        }

        function updateSummary() {
            var akkuvariante = selected_akkuvariante_name;
            var kabelvariante = selected_kabel_name;
            var schnittstelle = getSelectedSchnittstellen();
            var masse = getMasseInputValues();
            var preis = "";

            var preiseliste_sorted = preisliste.sort(function(a, b) {
                // Split lange values into an array of strings
                var langeAArray = a.lange.split(', ');
                var langeBArray = b.lange.split(', ');

                // Define a function to parse lange value and extract numerical component
                function parseLangeValue(lange) {
                    if (lange === "0mm") {
                        return 0;
                    } else if (lange.startsWith("<")) {
                        return parseInt(lange.slice(1).replace(/\D/g, ''), 10);
                    } else {
                        return parseInt(lange.replace(/\D/g, ''), 10);
                    }
                }

                // Compare parsed numerical components
                for (var i = 0; i < Math.min(langeAArray.length, langeBArray.length); i++) {
                    var langeA = parseLangeValue(langeAArray[i]);
                    var langeB = parseLangeValue(langeBArray[i]);

                    if (langeA !== langeB) {
                        return langeA - langeB;
                    }
                }

                // If all parsed components are equal, sort by the number of components (shorter first)
                return langeAArray.length - langeBArray.length;
            });

            outerLoop: for (let i = 0; i < preiseliste_sorted.length; i++) {
                if (preiseliste_sorted[i]["gehause"] === selected_akkuvariante_name) {
                    if (preiseliste_sorted[i]["kabelvariante"] === selected_kabel_name) {
                        if (selected_kabel_name === 'Straight'){
                            if (preiseliste_sorted[i]["leitung"]+'-S1' === schnittstelle[0]) {
                                var preisliste_intValue = parseInt(preiseliste_sorted[i]["lange"].replace(/\D/g, ''), 10);
                                var masse_numericalValues = masse.map(item => {
                                    var match = item.match(/-?\b\d+\b/);
                                    return match ? parseInt(match[0]) : null;
                                });
                                var masse_intValue = masse_numericalValues[0];

                                if (masse_intValue <= preisliste_intValue) {
                                    preis = "\u20ac" + preiseliste_sorted[i]["qty_1"];
                                    break outerLoop;
                                }
                            }
                        }
                        else{
                            let lange_list_max = preiseliste_sorted[i]["leitung"].split(', ').map(item => parseInt(item.replace(/[^\d]/g, '')));
                            var preiseliste_sorted_leitung = preiseliste_sorted[i]["leitung"].split(',').map(item => item.trim())
                            var arrayequal_truthvalue = arraysContainSameElements(preiseliste_sorted_leitung, schnittstelle)
                            if (arrayequal_truthvalue) {
                                var preisliste_intValue = preiseliste_sorted[i]["lange"].split(', ').map(item => parseInt(item.replace(/[^\d]/g, '')));
                                
                                var masse_numericalValues = masse.map(item => {
                                    var match = item.match(/-?\b\d+\b/);
                                    return match ? parseInt(match[0]) : null;
                                });
                                
                                var preis_truthvalue = true;
                                for (let m = 0; m < Math.min(preisliste_intValue.length, masse_numericalValues.length); m++) {
                                    if (masse_numericalValues[m] <= preisliste_intValue[m]) {
                                    } 
                                    else {
                                        preis_truthvalue = false;
                                    }
                                }

                                if (preis_truthvalue) {
                                    console.log("preiseliste_sorted[i]:",preiseliste_sorted[i]);
                                    preis = "\u20ac" + preiseliste_sorted[i]["qty_1"];
                                    break outerLoop;
                                }
                            }
                        }
                    }
                }
            }
            
            if (!document.querySelector('.input-pair')) {
                masseSelected = false;
                preis = "";
                if (schnittstelle.length !== 0) {
                    masseTextElement.textContent = "Ausgewählte Schnittstellenkombination ist nicht möglich. Bitte ändern Sie es";
                    masseTextElement.style.color = "red";
                }
            }
 
            if (jaRadioButton.checked) {
                CAN_Bus = 'Ja';
            }
            if (neinRadioButton.checked) {
                CAN_Bus = 'Nein';
            }
            document.getElementById('akkuvariante-summary').innerText = 'Akkuvariante: ' + akkuvariante;
            document.getElementById('CAN-Bus-summary').innerText = 'Mit 120 Ohm CAN-Bus Widerstand?: ' + CAN_Bus;
            document.getElementById('kabelvariante-summary').innerText = 'Kabelvariante: ' + kabelvariante;
            document.getElementById('schnittstelle-summary').innerText = 'Schnittstelle: ' + schnittstelle;
            document.getElementById('masse-summary').innerText = 'Maße: ' + masse;
            document.getElementById('gesamtpreis-summary').innerText = 'Gesamtpreis: ' + preis;
        }

        function masseChange(value, min, max) {
            value = parseInt(value, 10);
            min = parseInt(min, 10);
            max = parseInt(max, 10);

            if (!isNaN(value) && !isNaN(min) && !isNaN(max)) {
                // Check if the values are valid integers
                if (value >= min && value <= max) {
                    // All good, click on next in green
                    masseTextElement.textContent = "Alles gut, klicken Sie auf Weiter";
                    masseTextElement.style.color = "green";
                    masseSelected = true;
                } 
                else {
                    // The value should be between min and max in red
                    masseTextElement.textContent = "Der Wert sollte zwischen liegen " + min + " und " + max;
                    masseTextElement.style.color = "red";
                    masseSelected = false;
                }
            } 
            else {
                // Handle the case where the values are not valid integers
                masseTextElement.textContent = "Ungültige Eingabewerte";
                masseTextElement.style.color = "red";
                masseSelected = false;
            }
            updateProgressBar();
            updateSummary();
        }

        function goToSection(selectedSectionId) {
            var sections = [
                'Akkuvariante-Section',
                'Kabelvariante-Section',
                'Schnittstellen-Section',
                'Masse-Section',
                'Zusammenfassung-Section'
            ];

            for (var i = 0; i < sections.length; i++) {
                var sectionId = sections[i];
                var section = document.getElementById(sectionId);
                var stepperItem = document.querySelector('.stepper-item[data-counter="' + (i + 1) + '"]');

                if (section) {
                    if (i === 0) {
                        // For the first section (Akkuvariante-Section), scroll to the top of the page
                        if (i <= sections.indexOf(selectedSectionId)) {
                            section.classList.remove('hidden');
                            
                            if (stepperItem) {
                                stepperItem.classList.add('active');
                            }

                            // Auto-scroll to the top of the page
                            window.scrollTo({
                                top: 0,
                                behavior: 'smooth'
                            });
                        } else {
                            section.classList.add('hidden');
                            if (stepperItem && stepperItem.classList.contains('active')) {
                                stepperItem.classList.remove('active');
                            }
                        }
                    } else {
                        // For the rest of the sections, apply target position logic
                        if (i <= sections.indexOf(selectedSectionId)) {
                            section.classList.remove('hidden');

                            if (stepperItem) {
                                stepperItem.classList.add('active');
                            }

                            // Calculate the target position as 30% of the screen height
                            var targetPosition = section.offsetTop;

                            // Set the flag to indicate that scroll is triggered by goToSection
                            isScrollByGoToSection = true;

                            // Auto-scroll to the target position
                            window.scrollTo({
                                top: targetPosition,
                                behavior: 'smooth'
                            });
                            selectedSchnittstellen = getSelectedSchnittstellen();
                            if (selectedSectionId === "Masse-Section" && schnittstellenSelected){
                                masseSelected = true;
                                masseTextElement.textContent = "Alles gut, klicken Sie auf Weiter";
                                masseTextElement.style.color = "green";
                                updateProgressBar();
                                updateSummary();
                            }
                        } 
                        else {
                            section.classList.add('hidden');
                            if (stepperItem && stepperItem.classList.contains('active')) {
                                stepperItem.classList.remove('active');
                            }
                        }
                    }
                } else {
                    console.error("Element with ID '" + sectionId + "' not found.");
                }
            }
        }

        function addToCart() {
            var akkuvariante = selected_akkuvariante_name;
            var kabelvariante = selected_kabel_name;
            var schnittstelle = getSelectedSchnittstellen();
            var masse = getMasseInputValues();
            var preis = document.getElementById("gesamtpreis-summary").textContent.trim();
            var masseText = document.getElementById("Masse-text").textContent.trim();

            if (akkuvariante != "" && kabelvariante != "" && schnittstelle != "" && masse != "" && preis != "") {
                if (masseText === "Alles gut, klicken Sie auf Weiter") {
                    // Make a POST call to add data to InCartItem model
                    var data = {
                        akkuvarianteName: akkuvariante,
                        CAN_Bus: CAN_Bus,
                        kabelvariante: kabelvariante,
                        schnittstelle: schnittstelle,
                        masse: masse,
                        preis: preis,
                    };

                    fetch('/add_item_to_cart/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Die Netzwerkantwort war nicht ok');
                            alert('Die Netzwerkantwort war nicht ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Success:', data);
                        if (data.login_url) {
                            location.reload();
                        }
                        else if (!data.success) {
                            schnittstellenSelected = false;
                            masseSelected = false;
                            updateProgressBar();
                            alert(data.message);
                        }
                        else {
                            showSuccessPopup();
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Fehler beim Hinzufügen des Eintrags zum Warenkorb: ' + error.message);
                    });
                } else {
                    console.log("Masse-text is not 'All good, click on next'");
                    alert('Fehler beim Hinzufügen eines Eintrags zum Warenkorb. Stellen Sie sicher, dass die Massenwerte innerhalb des angegebenen Bereichs liegen');
                }
            } else {
                console.log("Ein oder mehrere Werte sind leer");
                alert('Ein oder mehrere Werte sind leer');
            }
        }

        function showSuccessPopup() {
            modal.style.display = 'block';
            overlay.style.display = 'block';

            // Configure another cable button action
            configureButton.onclick = function() {
                location.reload(); // Reload the whole page
            };

            // View in cart items button action
            viewInCartButton.onclick = function() {
                window.location.href = '/warenkorb'; // Navigate to /warenkorb page
            };
        }
        
        function closeModal() {
            modal.style.display = 'none';
            overlay.style.display = 'none';
        }

        function updateProgressBar() {
            // Update the stepper based on selected sections
            var stepperItems = document.querySelectorAll('.stepper-item');

            stepperItems[0].classList.toggle('completed', akkuSelected);
            stepperItems[1].classList.toggle('completed', kabelSelected);
            stepperItems[2].classList.toggle('completed', schnittstellenSelected);
            const masseSection = document.getElementById('Masse-Section');
            stepperItems[3].classList.toggle('completed', masseSelected);
        }

        function populateKabelvariantenSelectors(kabelvarianten) {
            var container = document.querySelector('.kabelvariante-selectors-container');
            container.innerHTML = "";
            var filteredKabelvarianten = [];

            for (let i = 0; i < preisliste.length; i++) {
                if (preisliste[i]["gehause"] === selected_akkuvariante_name) {
                    var preislist_kabelvariante = preisliste[i]["kabelvariante"];
                    if (!filteredKabelvarianten.includes(preislist_kabelvariante)) {
                        filteredKabelvarianten.push(preislist_kabelvariante);
                    }
                }
            }

            if (filteredKabelvarianten.length === 0) {
                // No Kabel options available, display a message
                var messageDiv = document.createElement('div');
                messageDiv.textContent = "Für den ausgewählten Akkuvariantentyp sind keine Kabeloptionen verfügbar.";
                selected_kabel_name = '';
                kabelSelected = false;
                container.appendChild(messageDiv);

                // No Schnittstellen options available, display a message
                var schnittstellen_empty_container = document.getElementById('schnittstelle-slider-container');
                schnittstellen_empty_container.innerHTML = '';
                var sliderContainer = document.createElement('div');
                var messageDiv = document.createElement('div');
                messageDiv.textContent = "Für den ausgewählten Akkuvariantentyp sind keine Schnittstellenoptionen verfügbar.";
                schnittstellen_empty_container.appendChild(messageDiv);
                selected_schnittstellen_name = '';
                schnittstellenSelected = false;

                // No Masse options available, display a message
                var masse_empty_container = document.getElementById('masse-slider-container');
                masse_empty_container.innerHTML = '';
                var sliderContainer = document.createElement('div');
                var messageDiv = document.createElement('div');
                messageDiv.textContent = "Für den ausgewählten Akkuvariantentyp sind keine Maßoptionen verfügbar.";
                masse_empty_container.appendChild(messageDiv);
                selected_masse_name = '';
                masseSelected = false;

            } 
            else {
                kabelvarianten.forEach(function (kabelvariante) {
                    if (filteredKabelvarianten.includes(kabelvariante.kabelvariante_name)) {
                        var div = document.createElement('div');
                        div.className = 'kabelvariante-selector';
                        div.onclick = function () {
                            selectKabelvariante(kabelvariante.kabelvariante_name);
                        };

                        var label = document.createElement('label');
                        label.textContent = kabelvariante.kabelvariante_name;
                        div.appendChild(label);

                        var img = document.createElement('img');
                        img.src = mediaPrefix + kabelvariante.kabelvariante_image_path;
                        img.alt = kabelvariante.kabelvariante_name;
                        img.style.display = "block"; // Ensure image is treated as a block element
                        img.style.margin = "auto"; // Set margins to auto for horizontal centering
                        div.style.textAlign = "center"; // Set text-align to center for vertical centering of inline elements
                        div.appendChild(img);

                        container.appendChild(div);
                    }

                    var productSelectors = document.querySelectorAll('.kabelvariante-selector');

                    productSelectors.forEach(function(selector) {
                        selector.classList.remove('selected');
                        var label = selector.querySelector('label');
                        selected_kabel_name = '';

                        // No Schnittstellen options available, display a message
                        var schnittstellen_empty_container = document.getElementById('schnittstelle-slider-container');
                        schnittstellen_empty_container.innerHTML = '';
                        var sliderContainer = document.createElement('div');
                        var messageDiv = document.createElement('div');
                        messageDiv.textContent = "Option Akkuvariante geändert, Bitte wählen Sie die Kabel neu aus.";
                        schnittstellen_empty_container.appendChild(messageDiv);
                        selected_schnittstellen_name = '';
                        schnittstellenSelected = false;

                        // No Masse options available, display a message
                        var masse_empty_container = document.getElementById('masse-slider-container');
                        masse_empty_container.innerHTML = '';
                        var sliderContainer = document.createElement('div');
                        var messageDiv = document.createElement('div');
                        messageDiv.textContent = "Option Akkuvariante geändert, Bitte wählen Sie die Kabel neu aus.";
                        masse_empty_container.appendChild(messageDiv);
                        selected_masse_name = '';
                        masseSelected = false;
                    });
                });
            }
        }

        function populateSchnittstellenSelectors(kabelvariante) {
            var container = document.getElementById('schnittstelle-slider-container');
            // Clear existing content in the container
            container.innerHTML = '';
            var sliderContainer = document.createElement('div');
            sliderContainer.className = 'schnittstelle-slider-container-class';
            sliderContainer.id = kabelvariante.kabelvariante_name + '-schnittstelle-slider';

            var img = document.createElement('img');
            img.className = 'schnittstelle-image';
            img.src = mediaPrefix + kabelvariante.masse_image_path;

            sliderContainer.appendChild(img);
            if (kabelvariante.splits == 1) {
                for (var k = 1; k <= kabelvariante.splits; k++) {
                    var rowDiv = document.createElement('div');
                    rowDiv.className = 'schnittstelle-row';

                    var headingDiv = document.createElement('div');
                    headingDiv.className = 'schnittstelle-heading';
                    headingDiv.innerHTML = '<div class="schnittstelle-heading-option">Schnittstelle S' + k + '</div>';
                    rowDiv.appendChild(headingDiv);

                    var selectorsDiv = document.createElement('div');
                    selectorsDiv.className = 'schnittstelle-selectors';

                    var filteredschnittstellenOptions = [];

                    for (let i = 0; i < preisliste.length; i++) {
                        if (preisliste[i]["gehause"] === selected_akkuvariante_name) {
                            var preislist_schnittstellen_name = preisliste[i]["leitung"];
                            for (let j = 0; j < schnittstellenOptions.length; j++) {
                                if (preislist_schnittstellen_name === schnittstellenOptions[j]["schnittstelle_name"]) {
                                    preislist_schnittstellenOption = schnittstellenOptions[j];
                                    if (!filteredschnittstellenOptions.includes(preislist_schnittstellenOption)) {
                                        filteredschnittstellenOptions.push(preislist_schnittstellenOption);
                                    }
                                }
                            }
                        }
                    }

                    filteredschnittstellenOptions.forEach(function (schnittstelle) {
                        var selectorDiv = document.createElement('div');
                        selectorDiv.className = 'schnittstelle-selector';
                        selectorDiv.id = schnittstelle.schnittstelle_name + '-S' + k;
                        selectorDiv.setAttribute('data-split-index', 'S' + k);
                        selectorDiv.onclick = function () {
                            selectschnittstellenvariante(schnittstelle.schnittstelle_name, selectorDiv.id);
                        };

                        var label = document.createElement('label');
                        label.textContent = schnittstelle.schnittstelle_name;
                        selectorDiv.appendChild(label);

                        var img = document.createElement('img');
                        img.src = mediaPrefix + schnittstelle.schnittstelle_image_path;
                        img.alt = schnittstelle.schnittstelle_name;
                        selectorDiv.appendChild(img);

                        selectorsDiv.appendChild(selectorDiv);
                    });

                    rowDiv.appendChild(selectorsDiv);
                    sliderContainer.appendChild(rowDiv);
                }
            }

            else if (kabelvariante.splits > 1) {
                for (var k = 1; k <= kabelvariante.splits; k++) {
                    var rowDiv = document.createElement('div');
                    rowDiv.className = 'schnittstelle-row';

                    var headingDiv = document.createElement('div');
                    headingDiv.className = 'schnittstelle-heading';
                    headingDiv.innerHTML = '<div class="schnittstelle-heading-option">Schnittstelle S' + k + '</div>';
                    rowDiv.appendChild(headingDiv);

                    var selectorsDiv = document.createElement('div');
                    selectorsDiv.className = 'schnittstelle-selectors';

                    var filteredschnittstellenOptions = [];
                    var selector_IDs_list = [];

                    for (let i = 0; i < preisliste.length; i++) {
                        if (preisliste[i]["gehause"] === selected_akkuvariante_name && preisliste[i]["kabelvariante"] === kabelvariante.kabelvariante_name) {
                            var preislist_schnittstellen_names = preisliste[i]["leitung"].split(',').map(item => item.trim());
                            for (let l = 0; l < preislist_schnittstellen_names.length; l++) {
                                for (let j = 0; j < schnittstellenOptions.length; j++) {
                                    if (preislist_schnittstellen_names[l] === schnittstellenOptions[j]["schnittstelle_name"] && l+1==k) {
                                        preislist_schnittstellenOption = schnittstellenOptions[j];
                                        if (!filteredschnittstellenOptions.includes(preislist_schnittstellenOption)) {
                                            filteredschnittstellenOptions.push(preislist_schnittstellenOption);
                                        }
                                        break; // Exit inner loop once a match is found
                                    }
                                }
                            }
                        }
                        
                        filteredschnittstellenOptions.forEach(function (schnittstelle) {
                            var existingSelector = schnittstelle.schnittstelle_name + '-S' + k;
                            if (!selector_IDs_list.includes(existingSelector)) {
                                selector_IDs_list.push(existingSelector);
                                var selectorDiv = document.createElement('div');
                                selectorDiv.className = 'schnittstelle-selector';
                                selectorDiv.id = schnittstelle.schnittstelle_name + '-S' + k;
                                selectorDiv.setAttribute('data-split-index', 'S' + k);
                                selectorDiv.onclick = function () {
                                    selectschnittstellenvariante(schnittstelle.schnittstelle_name, selectorDiv.id);
                                };

                                var label = document.createElement('label');
                                label.textContent = schnittstelle.schnittstelle_name;
                                selectorDiv.appendChild(label);

                                var img = document.createElement('img');
                                img.src = mediaPrefix + schnittstelle.schnittstelle_image_path;
                                img.alt = schnittstelle.schnittstelle_name;
                                selectorDiv.appendChild(img);

                                selectorsDiv.appendChild(selectorDiv);
                            }
                        });
                        rowDiv.appendChild(selectorsDiv);
                    }
                    sliderContainer.appendChild(rowDiv);
                }
            }

            else {
                var noOptionsParagraph = document.createElement('p');
                noOptionsParagraph.textContent = 'Keine gültigen Schnittstellen verfügbar.';
                sliderContainer.appendChild(noOptionsParagraph);
            }

            container.appendChild(sliderContainer);
        }

        function arraysContainSameElements(array1, array2) {
            if (array1.length !== array2.length) {
                return false;
            }

            const sortedArray1 = array1.slice().sort();
            const sortedArray2 = array2.slice().sort();

            return sortedArray1.every((element, index) => {
                // Extract the part before '-S' from each element for comparison
                const trimmedElement1 = element.split('-S')[0].trim();
                const trimmedElement2 = sortedArray2[index].split('-S')[0].trim();

                return trimmedElement1 === trimmedElement2;
            });
        }

        function populateMasseSelectors(kabelvariante) {
            var selectedSchnittstellen = getSelectedSchnittstellen();
            var container = document.getElementById('masse-slider-container');

            // Clear existing content in the container
            container.innerHTML = '';

            // Create a new container
            var sliderContainer = document.createElement('div');
            sliderContainer.className = 'masse-slider-container-class';
            sliderContainer.id = kabelvariante.kabelvariante_name + '-masse-slider';

            // Create an image element
            var img = document.createElement('img');
            img.className = 'masse-image';
            img.src = mediaPrefix + kabelvariante.masse_image_path;
            sliderContainer.appendChild(img);

            // Check for splits and create input pairs accordingly
            if (kabelvariante.splits > 1) {
                let lange_list_max = [];
                for (let i = 0; i < preisliste.length; i++) {
                    if (preisliste[i]["gehause"] === selected_akkuvariante_name) {
                        if (preisliste[i]["kabelvariante"] === selected_kabel_name) {
                            if (arraysContainSameElements){
                                lange_list = preisliste[i]["lange"].split(', ').map(item => parseInt(item.replace(/[^\d]/g, '')));
                                if (lange_list_max.length === 0) {
                                    lange_list_max = lange_list
                                }
                                for (let l = 0; l < lange_list.length; l++) {
                                    
                                    if (lange_list[l] > lange_list_max[l]) {
                                        lange_list_max[l] = lange_list[l];
                                    }
                                }
                            }
                        }
                    }
                }

                for (let k = 0; k < lange_list_max.length; k++) {
                    if (k === 0) {
                        diff = 0;
                        createInputPair(sliderContainer, kabelvariante, 'X1', kabelvariante.main_part_min_length, lange_list_max[k], diff);
                    }
                    else {
                        diff = 0;
                        let maxValues = {}; // Object to store max values for each selectedSchnittstelle_type
                        selectedSchnittstelle_type_list = [];

                        // Extract selectedSchnittstelle_type from selectedSchnittstellen
                        for (let j = 0; j < selectedSchnittstellen.length; j++) {
                            var [selectedSchnittstelle_type, selectedSchnittstelle_name] = selectedSchnittstellen[j].split('-').map(part => part.trim());
                            selectedSchnittstelle_type_list.push(selectedSchnittstelle_type);
                        }

                        // Iterate through preisliste to find maximum lange values for each selectedSchnittstelle_type
                        for (let i = 0; i < preisliste.length; i++) {
                            leitung_list = [preisliste[i]["leitung"]][0].split(', ');
                            lange_list = preisliste[i]["lange"].split(', ').map(item => parseInt(item.replace(/[^\d]/g, '')));

                            if (preisliste[i]["gehause"] === selected_akkuvariante_name && preisliste[i]["kabelvariante"] === selected_kabel_name) {
                                for (let l = 0; l < selectedSchnittstelle_type_list.length; l++) {
                                    const selectedSchnittstelle_type = selectedSchnittstelle_type_list[l];
                                    const index = leitung_list.indexOf(selectedSchnittstelle_type);
                                    if (index !== -1) { // Check if the selectedSchnittstelle_type exists in leitung_list
                                        const dynamicIndex = index + 1; // Calculate the dynamically extracted index
                                        if (!maxValues[selectedSchnittstelle_type] || lange_list[dynamicIndex] > maxValues[selectedSchnittstelle_type]) {
                                            maxValues[selectedSchnittstelle_type] = lange_list[dynamicIndex];
                                        }
                                    }
                                }
                            }
                        }

                        for (let m = 0; m < selectedSchnittstelle_type_list.length; m++) {
                            if (m+1 === k) {
                                var selectedSchnittstelle_type = selectedSchnittstelle_type_list[m];
                                n = k + 1;
                                createInputPair(sliderContainer, kabelvariante, 'X'+n, kabelvariante.split_part_min_length, maxValues[selectedSchnittstelle_type], diff);
                            }
                        }
                    }
                }

                if (selectedSchnittstellen.length < kabelvariante.splits) {
                    schnittstelleTextElement.textContent = "Bitte wählen Sie alle Schnittstellen aus";
                    schnittstelleTextElement.style.color = "red";
                    schnittstellenSelected = false;
                    masseTextElement.textContent = "Ungültige Eingabewerte";
                    masseTextElement.style.color = "red";
                    masseSelected = false;
                }
                else {
                    schnittstelleTextElement.textContent = "Alles gut, klicken Sie auf Weiter";
                    schnittstelleTextElement.style.color = "green";
                    schnittstellenSelected = true;
                    masseTextElement.textContent = "Alles gut, klicken Sie auf Weiter";
                    masseTextElement.style.color = "green";
                    masseSelected = true;
                }
            }
            
            else if (parseInt(kabelvariante.splits) === 1) {
                var straight_max_length = 0;

                for (let i = 0; i < preisliste.length; i++) {
                    if (preisliste[i]["gehause"] === selected_akkuvariante_name) {
                        if (preisliste[i]["kabelvariante"] === selected_kabel_name) {
                            var [selectedSchnittstelle_type, selectedSchnittstelle_name] = selectedSchnittstellen[0].split('-').map(part => part.trim());
                            if (preisliste[i]["leitung"] === selectedSchnittstelle_type) {
                                var intValue = parseInt(preisliste[i]["lange"].replace(/\D/g, ''), 10);
                                if (straight_max_length < intValue) {
                                    straight_max_length = intValue;
                                }
                            }
                        }
                    }
                }
                diff = 0;
                createInputPair(sliderContainer, kabelvariante, 'X1', kabelvariante.main_part_min_length, straight_max_length.toString(), diff);
                schnittstelleTextElement.textContent = "Alles gut, klicken Sie auf Weiter";
                schnittstelleTextElement.style.color = "green";
                masseTextElement.textContent = "Alles gut, klicken Sie auf Weiter";
                masseTextElement.style.color = "green";
            } 
            else {
                var noOptionsParagraph = document.createElement('p');
                noOptionsParagraph.textContent = 'Keine gültigen Kabelvarianten verfügbar.';
                sliderContainer.appendChild(noOptionsParagraph);
            }

            // Append the new container to the main container
            container.appendChild(sliderContainer);
        }

        function createInputPair(container, kabelvariante, identifier, min, max, diff) {
            var inputPairDiv = document.createElement('div');
            inputPairDiv.className = 'input-pair';

            var label = document.createElement('label');
            label.htmlFor = kabelvariante.kabelvariante_name + '-masse-' + identifier + '-lange';
            label.textContent = identifier.charAt(0).toUpperCase() + identifier.slice(1) + ' Lange (mm): ';

            var input = document.createElement('input');
            input.type = 'number';
            input.id = kabelvariante.kabelvariante_name + '-masse-' + identifier + '-lange';
            input.min = min;
            input.max = max;
            input.step = 1;
            input.value = min - diff;
            input.oninput = function () {
                masseChange(this.value, min, max);
            };

            inputPairDiv.appendChild(label);
            inputPairDiv.appendChild(input);

            container.appendChild(inputPairDiv);
        }

        function getSelectedSchnittstellen() {
            var selectedSchnittstellen = document.querySelectorAll('.schnittstelle-selector.selected');
            
            // Convert NodeList to an array for easier handling
            var selectedSchnittstellenArray = Array.from(selectedSchnittstellen);

            // Create an array to store Id values
            var selectedSchnittstellenIds = [];

            // Now you can iterate through selectedSchnittstellenArray and access their properties
            selectedSchnittstellenArray.forEach(function (selectedSchnittstelle) {
                // Access the id attribute of each selected Schnittstelle
                var schnittstelleId = selectedSchnittstelle.id;

                // Push the id value to the array
                selectedSchnittstellenIds.push(schnittstelleId);
            });

            selected_schnittstellen_name = selectedSchnittstellenIds
            return selectedSchnittstellenIds;
        }
    
        function getMasseInputValues() {
            var inputPairs = document.querySelectorAll('.input-pair input');
            
            // Convert NodeList to an array for easier handling
            var inputPairsArray = Array.from(inputPairs);

            // Create an array to store input strings
            var inputValuesArray = [];

            // Now you can iterate through inputPairsArray and access their properties
            inputPairsArray.forEach(function (input) {
                // Access the id and value attributes of each input
                var inputId = input.id;
                var inputValue = input.value;

                // Create a string for each input and push it to the array
                var inputString = `${inputId}: ${inputValue} mm`;
                inputValuesArray.push(inputString);
            });

            selected_masse_name = inputValuesArray;
            return inputValuesArray;
        }

        function toggleStepperWrapper() {
            var stepperWrapper = document.getElementById('stepper-wrapper');

            if (stepperWrapper.classList.contains('hidden')) {
                stepperWrapper.classList.remove('hidden');
            } else {
                stepperWrapper.classList.add('hidden');
            }
        }

    </script>
{% endblock %}