{% extends 'layouts/base.html' %}

{% block content %}
    <!-- Header content -->

    <!-- Akkuvariante Selector -->
    <div class="space space-2"></div>
    <section class="layoutblock lb-10col-width lb-hinweisausgabe">
        <div class="content anlauf_text">
            <p style="text-align: center;">
                Akkuvariante
            </p>
        </div>
    </section>
    <div class="space space-2"></div>
    <div class="akkuvariante-selectors-container">
        {% for akkuvariante in akkuvarianten %}
            <div class="akkuvariante-selector" onclick="selectAkkuvariante('{{ akkuvariante.akkuvariante_name }}')">
                <label>{{ akkuvariante.akkuvariante_name }}</label>
                <img src="{{ akkuvariante.akkuvariante_image_path }}" alt="{{ akkuvariante.akkuvariante_name }}">
            </div>
        {% empty %}
            <p>No Akkuvarianten available.</p>
        {% endfor %}
    </div>

    <!-- Kabelvariante Selector -->
    <div class="space space-2"></div>
    <section class="layoutblock lb-10col-width lb-hinweisausgabe">
        <div class="content anlauf_text">
            <p style="text-align: center;">
                Kabelvariante
            </p>
        </div>
    </section>
    <div class="space space-2"></div>
    <div class="kabelvariante-selectors-container">
        {% for kabelvariante in kabelvarianten %}
            <div class="kabelvariante-selector" onclick="selectKabelvariante('{{ kabelvariante.kabelvariante_name }}')">
                <label>{{ kabelvariante.kabelvariante_name }}</label>
                <img src="{{ kabelvariante.kabelvariante_image_path }}" alt="{{ kabelvariante.kabelvariante_name }}">
            </div>
        {% empty %}
            <p>No Kabelvarianten available.</p>
        {% endfor %}
    </div>

    <!-- Maße Slider Container -->
    <div class="space space-2"></div>
    <section class="layoutblock lb-10col-width lb-hinweisausgabe">
        <div class="content anlauf_text">
            <p style="text-align: center;">
                Maße
            </p>
        </div>
    </section>
    <div class="space space-2"></div>
    {% load custom_filters %}
    <div id="masse-slider-container">
        {% for kabelvariante in kabelvarianten %}
            <div class="slider-container" id="{{ kabelvariante.kabelvariante_name|slugify }}-slider">
                <img class="masse-image" src="{{ kabelvariante.masse_image_path }}">
                {% if kabelvariante.splits > 1 %}
                    <div class="input-pair">
                        <label for="{{ kabelvariante.kabelvariante_name|slugify }}-main-length">Main Length (cm): </label>
                        <input type="number" id="{{ kabelvariante.kabelvariante_name|slugify }}-main-length" min="0" max="0" step="1" value="50">
                    </div>
                    {% for i in kabelvariante.splits|create_range %}
                        <div class="input-pair">
                            <label for="{{ kabelvariante.kabelvariante_name|slugify }}-branch{{ forloop.counter }}-length">Branch {{ forloop.counter }} Length (cm): </label>
                            <input type="number" id="{{ kabelvariante.kabelvariante_name|slugify }}-branch{{ forloop.counter }}-length" min="0" max="0" step="1" value="25">
                        </div>
                    {% endfor %}
                {% elif kabelvariante.splits == 1 %}
                    <div class="input-pair">
                        <label for="{{ kabelvariante.kabelvariante_name|slugify }}-main-length-input">Main length (cm):</label>
                        <input type="number" id="{{ kabelvariante.kabelvariante_name|slugify }}-main-length-input" min="0" max="0" step="1" value="0">
                    </div>
                {% else %}
                    <p>No valid Kabelvarianten available.</p>
                {% endif %}
            </div>
        {% empty %}
            <p>No Kabelvarianten available.</p>
        {% endfor %}
    </div>
        
    <!-- Schnittstellen Selector -->
    <div class="space space-2"></div>
    <section class="layoutblock lb-10col-width lb-hinweisausgabe">
        <div class="content anlauf_text">
            <p style="text-align: center;">
                Schnittstellen
            </p>
        </div>
    </section>
    <div class="space space-2"></div>

    <!-- Rest of your HTML content -->

{% endblock %}
