{% extends 'layouts/base.html' %}

{% block content %}
    {% with in_cart_items=in_cart_items %}
    {{block.super}}
    {% endwith %}
    {% load bootstrap_icons %}
    <div class="container mt-4">
        <section class="layoutblock lb-10col-width lb-hinweisausgabe">
            <div class="content anlauf_text">
                <p style="text-align: center;">
                    Bestellen
                </p>
            </div>
        </section>
        <form id="deleteOrderForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="order_nummer" id="deleteOrderNumber">
        </form>
        <div class="accordion m-3" id="ordersAccordion">
            {% for order in orders %}
            <div class="container order-row m-2 p-0" data-order-number="{{ order.order_nummer }}" data-gesamt="{{ order.gesamt }}">
                <div class="accordion-item col p-0">
                    <div class="accordion-header" id="heading{{ order.order_nummer }}">
                        <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.order_nummer }}" aria-expanded="false" aria-controls="collapse{{ order.order_nummer }}">
                            <div class="container">
                                <div class="row">
                                    <span class="col">
                                        <h4>Order #{{ order.order_nummer }}</h4>
                                    </span>
                                    <span class="col">
                                        <div class="container">
                                            <small class="row text-uppercase fw-light">Auftragsdatum</small>
                                            <b class="row order-date bold">{{ order.order_datum }}</b>
                                        </div>
                                    </span>
                                    <span class="col">
                                        <div class="container">
                                            <small class="row text-uppercase fw-light">Gesamt</small>
                                            <b class="row gesamt bold">€{{ order.gesamt }}</b>
                                        </div>
                                    </span>
                                    <span class="col">
                                        <div class="container">
                                            <small class="row text-uppercase fw-light">Status</small>
                                            <b class="row order-date bold">{{ order.order_status }}</b>
                                        </div>
                                    </span>
                                    <span class="col">
                                        {% if order.order_status == 'Bestellt' %}
                                            <button type="button" class="btn btn-outline-info cancel-order" data-toggle="modal" data-target="#cancelOrderModal">Stornieren</button>
                                        {% elif order.order_status == 'Abgesagt' %}
                                            <button type="button" class="btn btn-outline-info order-again" data-toggle="modal" data-target="#orderAgainModal">Bestell es nochmal</button>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapse{{ order.order_nummer }}" class="accordion-collapse collapse" aria-labelledby="heading{{ order.order_nummer }}" data-bs-parent="#ordersAccordion">
                        <div class="container">
                            <div class="accordion m-3 row" id="orderItemsAccordion">
                                {% for item in order.items %}
                                <div class="container item-row m-2 p-0" data-item-number="{{ item.item_nummer }}" data-original_preis="{{ item.original_preis }}" data-reduzierter_preis="{{ item.reduzierter_preis }}">
                                    <div class="accordion-item col p-0">
                                        <div class="accordion-header" id="itemHeading{{ item.item_nummer }}">
                                            <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.item_nummer }}" aria-expanded="false" aria-controls="collapse{{ item.item_nummer }}">
                                                <div class="container">
                                                    <div class="row">
                                                        <span class="col">
                                                            <h4>Item #{{ item.item_nummer }}</h4>
                                                        </span>
                                                        <span class="col">
                                                            <div class="container">
                                                                <small class="row text-uppercase fw-light">Original Preis</small>
                                                                <b class="row original_preis bold">€{{ item.original_preis }}</b>
                                                            </div>
                                                        </span>
                                                        <span class="col">
                                                            <div class="container">
                                                                <small class="row text-uppercase fw-light">Reduzierter Preis</small>
                                                                <b class="row reduzierter_preis bold">€{{ item.reduzierter_preis }}</b>
                                                            </div>
                                                        </span>
                                                        <span class="col">
                                                            <div class="container">
                                                                <small class="row text-uppercase fw-light">menge</small>
                                                                <b class="row menge">{{ item.menge }}</b>
                                                            </div>
                                                        </span>
                                                        <span class="col">
                                                            <div class="container">
                                                                <small class="row text-uppercase fw-light">Gesamt Preis</small>
                                                                <b class="row gesamt-price">€{{ item.gesamt }}</b>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapse{{ item.item_nummer }}" class="accordion-collapse collapse" aria-labelledby="heading{{ item.item_nummer }}" data-bs-parent="#orderItemsAccordion">
                                            <div class="accordion-body">
                                                Akkuvariante: <span class="item-akkuvariante">{{ item.akkuvariante }}</span>
                                            </div>
                                            <div class="accordion-body">
                                                Mit 120 Ohm CAN-Bus Widerstand?: <span class="item-CAN-Bus">{{ item.mit_120_Ohm_CAN_Bus_Widerstand }}</span>
                                            </div>
                                            <div class="accordion-body">
                                                Kabelvariante: <span class="item-kabelvariante">{{ item.kabelvariante }}</span>
                                            </div>
                                            <div class="accordion-body">
                                                Schnittstelle: <span class="item-schnittstelle">{{ item.schnittstelle }}</span>
                                            </div>
                                            <div class="accordion-body">
                                                Masse: <span class="item-masse">{{ item.masse }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if not orders %}
                <div class="text-center m-5">Keine Bestellungen für Benutzer.</div>
            {% endif %}
        </div>

        <!-- Pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if orders.has_previous %}
                    <a href="?page=1">&laquo; erste</a>
                    <a href="?page={{ orders.previous_page_number }}">vorherige</a>
                {% endif %}

                <span class="current">
                    Seite {{ orders.number }} of {{ orders.paginator.num_pages }}.
                </span>

                {% if orders.has_next %}
                    <a href="?page={{ orders.next_page_number }}">nächste</a>
                    <a href="?page={{ orders.paginator.num_pages }}">zuletzt &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Event listener for the cancel order button
            document.getElementById('ordersAccordion').addEventListener('click', function (event) {
                if (event.target.classList.contains('cancel-order')) {
                    var orderRow = event.target.closest('.order-row');
                    var orderNumber = orderRow.dataset.orderNumber;

                    // Prompt user for confirmation
                    if (confirm("Sind Sie sicher, dass Sie diese Bestellung stornieren möchten?")) {
                        // If confirmed, trigger UPDATE request to cancel the order
                        fetch('/cancel_order/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token for Django
                            },
                            body: JSON.stringify({'order_nummer': orderNumber}),
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Die Netzwerkantwort war nicht in Ordnung');
                            }
                            return response.json();
                        })
                        .then(data => {
                            location.reload();
                        })
                        .catch(error => {
                            console.error('Error cancelling order:', error);
                        });
                    }
                }
            });

            // Event listener for the order again button
            document.getElementById('ordersAccordion').addEventListener('click', function (event) {
                if (event.target.classList.contains('order-again')) {
                    var orderRow = event.target.closest('.order-row');
                    var orderNumber = orderRow.dataset.orderNumber;

                    // Prompt user for confirmation
                    if (confirm("Are you sure you want to order this again?")) {
                        // If confirmed, trigger UPDATE request to update the order to 'Bestellt'
                        fetch('/order_again/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token for Django
                            },
                            body: JSON.stringify({'order_nummer': orderNumber}),
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Die Netzwerkantwort war nicht in Ordnung');
                            }
                            return response.json();
                        })
                        .then(data => {
                            location.reload();
                        })
                        .catch(error => {
                            console.error('Error ordering again:', error);
                        });
                    }
                }
            });
        });
   </script>
{% endblock %}
