{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% with in_cart_items=in_cart_items title=title %}
    {{block.super}}
    {% endwith %}
    <div class="container mt-4">
        <form class="mt-4" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <!-- <legend class="border-bottom mb-4">Bearbeite Ihren Profil</legend> -->
                <section class="layoutblock lb-10col-width lb-hinweisausgabe">
                    <div class="content anlauf_text">
                        <p style="text-align: center;">
                            Bearbeite Ihren Profil
                        </p>
                    </div>
                </section>
                <div class="row justify-content-evenly">
                
                    <div class="col-4 text-center">
                        <img class="rounded-circle account-img" src="{{ user.customerprofile.image.url }}">
                        {% crispy i_form %}
                    </div>
                    <div class="col-8">
                        {% crispy u_form %}
                        {% crispy p_form %}
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <button class="btn btn-outline-info" type="submit">
                    Speichern
                </button>
            </div>
        </form>
    </div>
{% endblock %}
