{% extends 'layouts/base.html' %}

{% block content %}
    {% with in_cart_items=in_cart_items title=title %}
    {{block.super}}
    {% endwith %}
    {% load bootstrap_icons %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div class="container mt-4">
        <section class="layoutblock lb-10col-width lb-hinweisausgabe">
            <div class="content anlauf_text">
                <p style="text-align: center;">
                    Warenkorb
                </p>
            </div>
        </section>

        <form id="deleteOrderForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="order_number" id="deleteOrderNumber">
        </form>

        <div class="accordion m-3" id="cartAccordion">
            {% for item in in_cart_items %}
            <div class="container item-row m-2 p-0" data-item-number="{{ item.item_nummer }}" data-original_preis="{{ item.original_preis }}" data-reduzierter_preis="{{ item.reduzierter_preis }}">
                <div class="accordion-item col p-0">
                    <div class="accordion-header" id="heading{{ item.item_nummer }}">
                    <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.item_nummer }}" aria-expanded="false" aria-controls="collapse{{ item.item_nummer }}">
                        <div class="container">
                            <div class="row">
                                <span class="col">
                                    <h4>Item #{{ item.item_nummer }}</h4>
                                </span>
                                <span class="col">
                                    <div class="container">
                                        <small class="row text-uppercase fw-light">Original Preis</small>
                                        <b class="row original_preis bold">€{{ item.original_preis }}</b>
                                    </div>
                                </span>
                                <span class="col">
                                    <div class="container">
                                        <small class="row text-uppercase fw-light">Reduzierter Preis</small>
                                        <b class="row reduzierter_preis bold">€{{ item.reduzierter_preis }}</b>
                                    </div>
                                </span>
                                <span class="col">
                                    <div class="container">
                                        <small class="row text-uppercase fw-light">Menge</small>
                                        <b class="row menge">{{ item.menge }}</b>
                                    </div>
                                </span>
                                <span class="col">
                                    <div class="container">
                                        <small class="row text-uppercase fw-light">Gesamt Preis</small>
                                        <b class="row gesamt-price">{{ item.gesamt }}</b>
                                    </div>
                                </span>
                                <span class="col">
                                    <button class="btn btn-sm btn-success increase-menge">+</button>
                                    <button class="btn btn-sm btn-danger decrease-menge">-</button>
                                    <button class="btn btn-sm btn-warning delete-item" data-toggle="modal" data-target="#deleteOrderModal">Löschen</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div id="collapse{{ item.item_nummer }}" class="accordion-collapse collapse" aria-labelledby="heading{{ item.item_nummer }}" data-bs-parent="#cartAccordion">
                        <div class="accordion-body">
                            Akkuvariante: <span class="item-akkuvariante">{{ item.akkuvariante }}</span>
                        </div>
                        <div class="accordion-body">
                            Mit 120 Ohm CAN-Bus Widerstand?: <span class="item-CAN-Bus">{{ item.mit_120_Ohm_CAN_Bus_Widerstand }}</span>
                        </div>
                        <div class="accordion-body">
                            Kabelvariante: <span class="item-kabelvariante">{{ item.kabelvariante }}</span>
                        </div>
                        <div class="accordion-body">
                            Schnittstelle: <span class="item-schnittstelle">{{ item.schnittstelle }}</span>
                        </div>
                        <div class="accordion-body">
                            Masse: <span class="item-masse">{{ item.masse }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if not in_cart_items %}
                <div class="text-center m-5">Keine Artikel im Warenkorb.</div>
            {% endif %}
        </div>

        {% if in_cart_items %}
        <div class="content anlauf_text">
            <p style="text-align: center;">{{ rabatt_text }}</p>
        </div>
        {% endif %}

        <!-- Total Price and Submit Button -->
        <div class="row">
            <div class="col">
                <p>Gesamt Preis: <span id="gesamt-price">0</span></p>
            </div>
            <div class="col">
                <form id="requestOfferForm" method="post">
                    {% csrf_token %}
                    {% if not in_cart_items %}
                        <button type="button" id="request-offer" class="btn btn-outline-info disabled" data-toggle="modal" data-target="#requestOfferModal" aria-disabled="true">Anfrage Angebot</button>
                    {% else %}
                        <button type="button" id="request-offer" class="btn btn-outline-info" data-toggle="modal" data-target="#requestOfferModal">Anfrage Angebot</button>
                    {% endif %}
                </form>
            </div>
            <div class="col">
                <form id="submitOrderForm" method="post">
                    {% csrf_token %}
                    {% if not in_cart_items %}
                        <button type="button" id="submit-order" class="btn btn-info disabled" data-toggle="modal" data-target="#submitOrderModal" aria-disabled="true">Bestellung abschicken</button>
                    {% else %}
                        <button type="button" id="submit-order" class="btn btn-info" data-toggle="modal" data-target="#submitOrderModal">Bestellung abschicken</button>
                    {% endif %}
                </form>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if in_cart_items.has_previous %}
                    <a href="?page=1">&laquo; erste</a>
                    <a href="?page={{ in_cart_items.previous_page_number }}">vorherige</a>
                {% endif %}

                <span class="current">
                    Seite {{ in_cart_items.number }} of {{ in_cart_items.paginator.num_pages }}.
                </span>

                {% if in_cart_items.has_next %}
                    <a href="?page={{ in_cart_items.next_page_number }}">nächste</a>
                    <a href="?page={{ in_cart_items.paginator.num_pages }}">zuletzt &raquo;</a>
                {% endif %}
            </span>
        </div>

        <div class="space space-2"></div>

        <div>
            <nav style="text-align: center; font-weight: bold;">
                <a href="/orders" class="nav-link">Klicken Sie hier, um die übermittelten Bestellungen anzuzeigen</a>
            </nav>
        </div>
    </div>

    <script>
        var preisliste = JSON.parse('{{ preisliste | safe }}');

        $(document).ready(function() {
            // Call populateTotalPrice function when the document is ready
            populateTotalPrice();
        });

        // Function to update the gesamt price based on the menge and price of each order
        function populateTotalPrice() {
            var gesamtPrice = 0;
            $('.item-row').each(function () {
                var gesamtPriceRow = parseFloat($(this).find('.gesamt-price').text().replace(',', '.')); // Parse the gesamt price for each row
                gesamtPrice += gesamtPriceRow; // Add the gesamt price of the row to the total price
            });

            $('#gesamt-price').text(gesamtPrice.toFixed(2)); // Set the total price in the gesamt-price element
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Event listener for the delete order button
            document.getElementById('cartAccordion').addEventListener('click', function (event) {
                if (event.target.classList.contains('delete-item')) {
                    var itemRow = event.target.closest('.item-row');
                    var itemNumber = itemRow.dataset.itemNumber;

                    // Prompt user for confirmation
                    if (confirm("Sind Sie sicher, dass Sie diesen Warenkorbartikel löschen möchten?")) {
                        // If confirmed, trigger DELETE request to delete the order
                        fetch('/delete_item/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token for Django
                            },
                            body: JSON.stringify({'item_nummer': itemNumber}),
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Die Netzwerkantwort war nicht in Ordnung');
                            }
                            return response.json();
                        })
                        .then(data => {
                            // Remove the row from the table
                            // itemRow.remove();
                            // updateTotalPrice();
                            location.reload()
                        })
                        .catch(error => {
                            console.error('Error deleting order:', error);
                        });
                    }
                }
            });

            // Event listener for the submit order button
            document.getElementById('submit-order').addEventListener('click', function () {
                updateTotalPrice();
                // Prompt user for confirmation
                if (confirm("Sind Sie sicher, dass Sie die ausgewählten Bestellungen absenden möchten?")) {
                    var itemsInOrder = [];

                    // Collect order details for submission
                    document.querySelectorAll('.item-row').forEach(function (row) {
                        var itemNumber = row.getAttribute('data-item-number');
                        var original_preis = row.getAttribute('data-original_preis');
                        var reduzierter_preis = row.getAttribute('data-reduzierter_preis');
                        var menge = parseInt(row.querySelector('.menge').textContent);
                        var gesamt = parseInt(row.querySelector('.gesamt-price').textContent);
                        var item_akkuvariante = row.querySelector('.item-akkuvariante').textContent;
                        var item_CAN_Bus = row.querySelector('.item-CAN-Bus').textContent;
                        var item_kabelvariante = row.querySelector('.item-kabelvariante').textContent;
                        var item_schnittstelle = row.querySelector('.item-schnittstelle').textContent;
                        var item_masse = row.querySelector('.item-masse').textContent;

                        itemsInOrder.push({
                            'item_nummer': itemNumber,
                            'original_preis': original_preis,
                            'reduzierter_preis': reduzierter_preis,
                            'menge': menge,
                            'gesamt': gesamt,
                            'akkuvariante': item_akkuvariante,
                            'mit_120_Ohm_CAN_Bus_Widerstand': item_akkuvariante,
                            'kabelvariante': item_kabelvariante,
                            'schnittstelle': item_schnittstelle,
                            'masse': item_masse
                        });
                    });

                    // Trigger POST request to update orders
                    fetch('/create_order_with_items/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token for Django
                        },
                        body: JSON.stringify(
                            {
                                'items_in_order': itemsInOrder
                            }
                        ),
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Die Netzwerkantwort war nicht in Ordnung');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Handle the response data as needed
                        console.log('Response:', data);
                        location.reload();
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
                }
            });

            // Event listener for the request offer button
            document.getElementById('request-offer').addEventListener('click', function () {
                updateTotalPrice();
                // Prompt user for confirmation
                if (confirm("Sind Sie sicher, dass Sie die Angebote für die ausgewählten Artikel anfordern möchten?")) {
                    var itemsInOfferRequest = [];

                    // Collect order details for submission
                    document.querySelectorAll('.item-row').forEach(function (row) {
                        var itemNumber = row.getAttribute('data-item-number');
                        var original_preis = row.getAttribute('data-original_preis');
                        var reduzierter_preis = row.getAttribute('data-reduzierter_preis');
                        var menge = parseInt(row.querySelector('.menge').textContent);
                        var gesamt = parseInt(row.querySelector('.gesamt-price').textContent);
                        var item_akkuvariante = row.querySelector('.item-akkuvariante').textContent;
                        var item_CAN_Bus = row.querySelector('.item-CAN-Bus').textContent;
                        var item_kabelvariante = row.querySelector('.item-kabelvariante').textContent;
                        var item_schnittstelle = row.querySelector('.item-schnittstelle').textContent;
                        var item_masse = row.querySelector('.item-masse').textContent;

                        itemsInOfferRequest.push({
                            'item_nummer': itemNumber,
                            'original_preis': original_preis,
                            'reduzierter_preis': reduzierter_preis,
                            'menge': menge,
                            'gesamt': gesamt,
                            'akkuvariante': item_akkuvariante,
                            'mit_120_Ohm_CAN_Bus_Widerstand': item_akkuvariante,
                            'kabelvariante': item_kabelvariante,
                            'schnittstelle': item_schnittstelle,
                            'masse': item_masse
                        });
                    });

                    // Trigger POST request to update orders
                    fetch('/create_offer_request_with_items/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token for Django
                        },
                        body: JSON.stringify(
                            {
                                'items_in_order': itemsInOfferRequest
                            }
                        ),
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Die Netzwerkantwort war nicht in Ordnung');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Handle the response data as needed
                        console.log('Response:', data);
                        location.reload();
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
                }
            });

            // Event listener for increasing menge
            document.querySelectorAll('.increase-menge').forEach(function (button) {
                button.addEventListener('click', function () {
                    var row = this.closest('.item-row');
                    updateQuantity(row, 1);
                });
            });

            // Event listener for decreasing menge
            document.querySelectorAll('.decrease-menge').forEach(function (button) {
                button.addEventListener('click', function () {
                    var row = this.closest('.item-row');
                    updateQuantity(row, -1);
                });
            });

            // Function to update the menge and gesamt price
            function updateQuantity(row, mengeChange) {
                // Ensure row is a jQuery object
                var $row = $(row);

                var mengeElement = $row.find('.menge');
                var gesamtPriceElement = $row.find('.gesamt-price');
                var original_preis = parseFloat($row.data('original_preis').replace(',', '.'));
                var reduzierter_preis = parseFloat($row.data('reduzierter_preis').replace(',', '.'));
                var currentQuantity = parseInt(mengeElement.text());
                var newQuantity = currentQuantity + mengeChange;

                // Check if the new menge is at least 0
                if (newQuantity >= 0) {
                    mengeElement.text(newQuantity);
                    var gesamtPrice = 0
                    var akkuvariante = $row.find('.item-akkuvariante').text();
                    
                    for (let i = 0; i < preisliste.length; i++) {
                        if ((akkuvariante.includes(preisliste[i]['gehause'])) && (original_preis === parseFloat(preisliste[i]['qty_1'].replace(',', '.')))) {
                            if (newQuantity < 25) {
                                gesamtPrice += newQuantity * original_preis;
                            }
                            else if ((newQuantity >= 25) && (newQuantity < 50)) {
                                gesamtPrice += newQuantity * parseFloat(preisliste[i]['qty_25'].replace(',', '.'));
                            }
                            else if ((newQuantity >= 50) && (newQuantity < 100)) {
                                gesamtPrice += newQuantity * parseFloat(preisliste[i]['qty_50'].replace(',', '.'));
                            }
                            else if ((newQuantity >= 100) && (newQuantity < 250)) {
                                gesamtPrice += newQuantity * parseFloat(preisliste[i]['qty_100'].replace(',', '.'));
                            }
                            else if ((newQuantity >= 250) && (newQuantity < 500)) {
                                gesamtPrice += newQuantity * parseFloat(preisliste[i]['qty_250'].replace(',', '.'));
                            }
                            else if ((newQuantity >= 500) && (newQuantity < 1000)) {
                                gesamtPrice += newQuantity * parseFloat(preisliste[i]['qty_500'].replace(',', '.'));
                            }
                            else if ((newQuantity >= 1000) && (newQuantity < 2000)) {
                                gesamtPrice += newQuantity * parseFloat(preisliste[i]['qty_1000'].replace(',', '.'));
                            }
                            else if (newQuantity >= 2000)  {
                                gesamtPrice += newQuantity * parseFloat(preisliste[i]['qty_2000'].replace(',', '.'));
                            }
                        }
                    }
                    gesamtPriceElement.text((gesamtPrice).toFixed(2).toString().replace('.', ','));
                    updateTotalPrice();
                } else {
                    // Display a confirmation prompt to delete the order
                    if (confirm("Sind Sie sicher, dass Sie diese Bestellung löschen möchten?")) {
                        $row.remove();
                        updateTotalPrice();
                    }
                }
            }

            // Function to update the gesamt price based on the menge and price of each order
            function updateTotalPrice() {
                var gesamtPrice = 0;
                var reduzierter_preis = 0;
                $('.item-row').each(function () {
                    var menge = parseInt($(this).find('.menge').text());
                    var original_preis = parseFloat($(this).data('original_preis').replace(',', '.'));
                    var akkuvariante = $(this).find('.item-akkuvariante').text();

                    for (let i = 0; i < preisliste.length; i++) {
                        if ((akkuvariante === preisliste[i]['gehause']) && (original_preis === parseFloat(preisliste[i]['qty_1'].replace(',', '.')))) {
                            if (menge < 25) {
                                gesamtPrice += menge * original_preis;
                                $(this).find('.reduzierter_preis').text(original_preis.toString().replace('.', ','));
                            }
                            else if ((menge >= 25) && (menge < 50)) {
                                gesamtPrice += menge * parseFloat(preisliste[i]['qty_25'].replace(',', '.'));
                                $(this).find('.reduzierter_preis').text(preisliste[i]['qty_25'].toString().replace('.', ','));
                            }
                            else if ((menge >= 50) && (menge < 100)) {
                                gesamtPrice += menge * parseFloat(preisliste[i]['qty_50'].replace(',', '.'));
                                $(this).find('.reduzierter_preis').text(preisliste[i]['qty_50'].toString().replace('.', ','));
                            }
                            else if ((menge >= 100) && (menge < 250)) {
                                gesamtPrice += menge * parseFloat(preisliste[i]['qty_100'].replace(',', '.'));
                                $(this).find('.reduzierter_preis').text(preisliste[i]['qty_100'].toString().replace('.', ','));
                            }
                            else if ((menge >= 250) && (menge < 500)) {
                                gesamtPrice += menge * parseFloat(preisliste[i]['qty_250'].replace(',', '.'));
                                $(this).find('.reduzierter_preis').text(preisliste[i]['qty_250'].toString().replace('.', ','));
                            }
                            else if ((menge >= 500) && (menge < 1000)) {
                                gesamtPrice += menge * parseFloat(preisliste[i]['qty_500'].replace(',', '.'));
                                $(this).find('.reduzierter_preis').text(preisliste[i]['qty_500'].toString().replace('.', ','));
                            }
                            else if ((menge >= 1000) && (menge < 2000)) {
                                gesamtPrice += menge * parseFloat(preisliste[i]['qty_1000'].replace(',', '.'));
                                $(this).find('.reduzierter_preis').text(preisliste[i]['qty_1000'].toString().replace('.', ','));
                            }
                            else if (menge >= 2000)  {
                                gesamtPrice += menge * parseFloat(preisliste[i]['qty_2000'].replace(',', '.'));
                                $(this).find('.reduzierter_preis').text(preisliste[i]['qty_2000'].toString().replace('.', ','));
                            }
                        }
                    }
                });
                
                $('#gesamt-price').text(gesamtPrice.toFixed(2));
            }

        });

    </script>
{% endblock %}
