{% extends 'layouts/base.html' %}

{% block content %}
    {% with in_cart_items=in_cart_items %}
    {{block.super}}
    {% endwith %}
    {% load bootstrap_icons %}
    <div class="container mt-4">
        <section class="layoutblock lb-10col-width lb-hinweisausgabe">
            <div class="content anlauf_text">
                <p style="text-align: center;">
                    In Cart
                </p>
            </div>
        </section>

        <form id="deleteOrderForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="order_number" id="deleteOrderNumber">
        </form>

        <div class="accordion m-3" id="cartAccordion">
            {% for item in in_cart_items %}
            <div class="container item-row m-2 p-0" data-item-number="{{ item.item_number }}" data-price="{{ item.price }}">
                <div class="accordion-item col p-0">
                    <div class="accordion-header" id="heading{{ item.item_number }}">
                    <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ item.item_number }}" aria-expanded="false" aria-controls="collapse{{ item.item_number }}">
                        <div class="container">
                            <div class="row">
                                <span class="col">
                                    <h4>Item #{{ item.item_number }}</h4>
                                </span>
                                <span class="col">
                                    <div class="container">
                                        <small class="row text-uppercase fw-light">Price</small>
                                        <b class="row price bold">€{{ item.price }}</b>
                                    </div>
                                </span>
                                <span class="col">
                                    <div class="container">
                                        <small class="row text-uppercase fw-light">Quantity</small>
                                        <b class="row quantity">{{ item.quantity }}</b>
                                    </div>
                                </span>
                                <span class="col">
                                    <div class="container">
                                        <small class="row text-uppercase fw-light">Total Price</small>
                                        <b class="row total-price">{{ item.total }}</b>
                                    </div>
                                </span>
                                <span class="col">
                                    <button class="btn btn-sm btn-success increase-quantity">+</button>
                                    <button class="btn btn-sm btn-danger decrease-quantity">-</button>
                                    <button class="btn btn-sm btn-warning delete-item" data-toggle="modal" data-target="#deleteOrderModal">Delete</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div id="collapse{{ item.item_number }}" class="accordion-collapse collapse" aria-labelledby="heading{{ item.item_number }}" data-bs-parent="#cartAccordion">
                        <div class="accordion-body">
                            Akkuvariante: <span class="item-akkuvariante">{{ item.akkuvariante }}</span>
                        </div>
                        <div class="accordion-body">
                            Mit 120 Ohm CAN-Bus Widerstand?: <span class="item-CAN-Bus">{{ item.mit_120_Ohm_CAN_Bus_Widerstand }}</span>
                        </div>
                        <div class="accordion-body">
                            Kabelvariante: <span class="item-kabelvariante">{{ item.kabelvariante }}</span>
                        </div>
                        <div class="accordion-body">
                            Schnittstelle: <span class="item-schnittstelle">{{ item.schnittstelle }}</span>
                        </div>
                        <div class="accordion-body">
                            Masse: <span class="item-masse">{{ item.masse }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if not in_cart_items %}
                <div class="text-center m-5">No items in cart.</div>
            {% endif %}
        </div>

        {% if in_cart_items %}
        <div class="content anlauf_text">
            <p style="text-align: center;">{{ rabatt_text }}</p>
        </div>
        {% endif %}

        <!-- Total Price and Submit Button -->
        <div class="row">
            <div class="col">
                <p>Total Price: <span id="total-price">0</span></p>
            </div>
            <div class="col">
                <form id="submitOrderForm" method="post">
                    {% csrf_token %}
                    {% if not in_cart_items %}
                        <button type="button" id="submit-order" class="btn btn-outline-info disabled" data-toggle="modal" data-target="#submitOrderModal" aria-disabled="true">Submit Order</button>
                    {% else %}
                        <button type="button" id="submit-order" class="btn btn-outline-info" data-toggle="modal" data-target="#submitOrderModal">Submit Order</button>
                    {% endif %}
                </form>
            </div>
        </div>

        <!-- Pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if in_cart_items.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ in_cart_items.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ in_cart_items.number }} of {{ in_cart_items.paginator.num_pages }}.
                </span>

                {% if in_cart_items.has_next %}
                    <a href="?page={{ in_cart_items.next_page_number }}">next</a>
                    <a href="?page={{ in_cart_items.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

        <div class="space space-2"></div>

        <div>
            <nav style="text-align: center; font-weight: bold;">
                <a href="/orders" class="nav-link">Click here to View Submitted Orders</a>
            </nav>
        </div>
    </div>

    <script>
        var preisliste = JSON.parse('{{ preisliste | safe }}');

        document.addEventListener('DOMContentLoaded', function () {
            // Event listener for the delete order button
            document.getElementById('cartAccordion').addEventListener('click', function (event) {
                if (event.target.classList.contains('delete-item')) {
                    var itemRow = event.target.closest('.item-row');
                    var itemNumber = itemRow.dataset.itemNumber;

                    // Prompt user for confirmation
                    if (confirm("Are you sure you want to delete this cart item?")) {
                        // If confirmed, trigger DELETE request to delete the order
                        fetch('/delete_item/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token for Django
                            },
                            body: JSON.stringify({'item_number': itemNumber}),
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            // Remove the row from the table
                            // itemRow.remove();
                            // updateTotalPrice();
                            location.reload()
                        })
                        .catch(error => {
                            console.error('Error deleting order:', error);
                        });
                    }
                }
            });

            // Event listener for the submit order button
            document.getElementById('submit-order').addEventListener('click', function () {
                updateTotalPrice();
                // Prompt user for confirmation
                if (confirm("Are you sure you want to submit the selected orders?")) {
                    var itemsInOrder = [];

                    // Collect order details for submission
                    document.querySelectorAll('.item-row').forEach(function (row) {
                        var itemNumber = row.getAttribute('data-item-number');
                        var price = row.getAttribute('data-price');
                        var quantity = parseInt(row.querySelector('.quantity').textContent);
                        var total = parseInt(row.querySelector('.total-price').textContent);
                        var item_akkuvariante = row.querySelector('.item-akkuvariante').textContent;
                        var item_CAN_Bus = row.querySelector('.item-CAN-Bus').textContent;
                        var item_kabelvariante = row.querySelector('.item-kabelvariante').textContent;
                        var item_schnittstelle = row.querySelector('.item-schnittstelle').textContent;
                        var item_masse = row.querySelector('.item-masse').textContent;

                        itemsInOrder.push({
                            'item_number': itemNumber,
                            'price': price,
                            'quantity': quantity,
                            'total': total,
                            'akkuvariante': item_akkuvariante,
                            'mit_120_Ohm_CAN_Bus_Widerstand': item_akkuvariante,
                            'kabelvariante': item_kabelvariante,
                            'schnittstelle': item_schnittstelle,
                            'masse': item_masse
                        });
                    });

                    // Trigger POST request to update orders
                    fetch('/create_order_with_items/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token for Django
                        },
                        body: JSON.stringify(
                            {
                                'items_in_order': itemsInOrder
                            }
                        ),
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        // Handle the response data as needed
                        console.log('Response:', data);
                        location.reload();
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
                }
            });

            // Event listener for increasing quantity
            document.querySelectorAll('.increase-quantity').forEach(function (button) {
                button.addEventListener('click', function () {
                    var row = this.closest('.item-row');
                    updateQuantity(row, 1);
                });
            });

            // Event listener for decreasing quantity
            document.querySelectorAll('.decrease-quantity').forEach(function (button) {
                button.addEventListener('click', function () {
                    var row = this.closest('.item-row');
                    updateQuantity(row, -1);
                });
            });

            // Function to update the quantity and total price
            function updateQuantity(row, quantityChange) {
                // Ensure row is a jQuery object
                var $row = $(row);

                var quantityElement = $row.find('.quantity');
                var totalPriceElement = $row.find('.total-price');
                var price = parseFloat($row.data('price'));
                var currentQuantity = parseInt(quantityElement.text());
                var newQuantity = currentQuantity + quantityChange;

                // Check if the new quantity is at least 0
                if (newQuantity >= 0) {
                    quantityElement.text(newQuantity);
                    var totalPrice = 0
                    var akkuvariante = $row.find('.item-akkuvariante').text();
                    
                    for (let i = 0; i < preisliste.length; i++) {
                        if ((akkuvariante.includes(preisliste[i]['gehause'])) && (price === parseFloat(preisliste[i]['qty_1']))) {
                            if (newQuantity < 25) {
                                totalPrice += newQuantity * price;
                            }
                            else if ((newQuantity >= 25) && (newQuantity < 50)) {
                                totalPrice += newQuantity * parseFloat(preisliste[i]['qty_25']);
                            }
                            else if ((newQuantity >= 50) && (newQuantity < 100)) {
                                totalPrice += newQuantity * parseFloat(preisliste[i]['qty_50']);
                            }
                            else if ((newQuantity >= 100) && (newQuantity < 250)) {
                                totalPrice += newQuantity * parseFloat(preisliste[i]['qty_100']);
                            }
                            else if ((newQuantity >= 250) && (newQuantity < 500)) {
                                totalPrice += newQuantity * parseFloat(preisliste[i]['qty_250']);
                            }
                            else if ((newQuantity >= 500) && (newQuantity < 1000)) {
                                totalPrice += newQuantity * parseFloat(preisliste[i]['qty_500']);
                            }
                            else if ((newQuantity >= 1000) && (newQuantity < 2000)) {
                                totalPrice += newQuantity * parseFloat(preisliste[i]['qty_1000']);
                            }
                            else if (newQuantity >= 2000)  {
                                totalPrice += newQuantity * parseFloat(preisliste[i]['qty_2000']);
                            }
                        }
                    }
                    totalPriceElement.text((totalPrice).toFixed(2));
                    updateTotalPrice();
                } else {
                    // Display a confirmation prompt to delete the order
                    if (confirm("Are you sure you want to delete this order?")) {
                        $row.remove();
                        updateTotalPrice();
                    }
                }
            }

            // Function to update the total price based on the quantity and price of each order
            function updateTotalPrice() {
                var totalPrice = 0;
                $('.item-row').each(function () {
                    var quantity = parseInt($(this).find('.quantity').text());
                    var price = parseFloat($(this).data('price'));
                    var akkuvariante = $(this).find('.item-akkuvariante').text();

                    for (let i = 0; i < preisliste.length; i++) {
                        if ((akkuvariante === preisliste[i]['gehause']) && (price === parseFloat(preisliste[i]['qty_1']))) {
                            if (quantity < 25) {
                                totalPrice += quantity * price;
                            }
                            else if ((quantity >= 25) && (quantity < 50)) {
                                totalPrice += quantity * parseFloat(preisliste[i]['qty_25']);
                            }
                            else if ((quantity >= 50) && (quantity < 100)) {
                                totalPrice += quantity * parseFloat(preisliste[i]['qty_50']);
                            }
                            else if ((quantity >= 100) && (quantity < 250)) {
                                totalPrice += quantity * parseFloat(preisliste[i]['qty_100']);
                            }
                            else if ((quantity >= 250) && (quantity < 500)) {
                                totalPrice += quantity * parseFloat(preisliste[i]['qty_250']);
                            }
                            else if ((quantity >= 500) && (quantity < 1000)) {
                                totalPrice += quantity * parseFloat(preisliste[i]['qty_500']);
                            }
                            else if ((quantity >= 1000) && (quantity < 2000)) {
                                totalPrice += quantity * parseFloat(preisliste[i]['qty_1000']);
                            }
                            else if (quantity >= 2000)  {
                                totalPrice += quantity * parseFloat(preisliste[i]['qty_2000']);
                            }
                        }
                    }
                });

                $('#total-price').text(totalPrice.toFixed(2));
            }
        });
    </script>
{% endblock %}
