
{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% with title=title %}
    {{block.super}}
    {% endwith %}
    <div class="container mt-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Tritt heute bei</legend>
                {{ userRegisterForm|crispy }}
            </fieldset>
            <div class="form-group mb-4">
                <button class="btn btn-outline-info" type="submit">
                    Registrieren
                </button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Sie haben bereits ein Konto? <a class="ml-2" href="{% url 'login' %}">Einloggen</a></small>
        </div>
    </div>
{% endblock %}
